.header {
  width: 100vw;
  padding: 20px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      list-style: none;

      li {
        a {
          list-style: none;
          font-size: 1.2rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  &__button {
    padding: 0 0 0 100px;
  }
}