$break-l: 1200px;
$break-m: 900px;
$break-s: 640px;
$text-font: 'Roboto', sans-serif;
$primary-font: 'billabong', sans-serif;
$secondary-font: 'Segoe', sans-serif;
$text-color: #424242;
$title-color: #231f20;
$white: #ffffff;
$black: #000;
$papaya-whip: #faf4e8;
$red: #f05d5e;
$header-height: 60px;
$gray: #dbdbdb;
