$break-l: 1200px;
$break-m: 900px;
$break-s: 640px;
$text-font: 'Work Sans', sans-serif;
$primary-font: 'billabong', sans-serif;
$secondary-font: 'Forum', cursive;
$terteary-font : 'Anton', sans-serif;
$primary-color: #2C4251;
$secondary-color: #C1C1C1;
$terteary-color:#D16666;
$green-color : #B6C649;
$white: #ffffff;
$black: #000;
$header-height: 60px;
$gray: #dbdbdb;
