* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #CCCCCC;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.titles {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
  margin-bottom: 30px;
}

p, li {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  line-height: 22px;
  margin-bottom: 5px;
}

a {
  font-family: "Poppins", sans-serif;
}

.btn {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #333333;
  display: block;
  padding: 1em 2.5rem;
  position: relative;
  border-radius: 2rem;
  background-color: #CCCCCC;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}
.btn::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0;
  left: -20px;
  background-color: #8BC34A;
  transform: skewX(45deg) scaleX(0);
  transition: all 0.3s ease-in-out;
}
.btn span {
  position: relative;
  z-index: 2;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: #eaeaea;
}
.btn:hover::after {
  transform: skewX(45deg) scaleX(1);
}

.btn-underlined {
  position: relative;
}
.btn-underlined::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.btn-underlined:hover {
  color: #8BC34A;
}
.btn-underlined:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.header {
  width: 100vw;
  padding: 20px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.header nav ul li a {
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #CCCCCC;
  text-decoration: none;
}
.header__button {
  padding: 0 0 0 100px;
}

.top-content {
  position: relative;
  height: 700px;
}
.top-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5);
}
.top-content__image {
  width: 100%;
  height: 100%;
}
.top-content__image figure, .top-content__image img {
  width: 100%;
  height: 100%;
}
.top-content__image img {
  object-fit: cover;
}
.top-content__title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #CCCCCC;
  z-index: 3;
}
.top-content__title .container {
  position: relative;
}
.top-content h1 {
  color: #CCCCCC;
  font-size: 8.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.top-content h2 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 80px;
  margin-top: 50px;
}

.about-block {
  background-color: white;
  padding: 120px 0;
  position: relative;
}
.about-block::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  top: 0;
  left: -250px;
  background-color: #CCCCCC;
  height: 100%;
  z-index: 1;
  transform: skew(30deg);
}
.about-block .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 2;
}
.about-block__image {
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
  overflow: hidden;
}
.about-block__image figure, .about-block__image img {
  width: 100%;
  height: 100%;
}
.about-block__image img {
  object-fit: cover;
}
.about-block__text {
  max-width: 40%;
}
.about-block__text .titles {
  text-transform: capitalize;
  font-weight: 700;
}
.about-block__text em {
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
